@model BetterThanMooshak.Models.ViewModel.AssignmentProblems
@{
    ViewBag.Title = "Details";
}

<div class="boxTitle">
    <h1>
        @Model.assignment.name - 

        <a href="@Url.Action("details", "course", new { id = Model.course.id })">
            @Model.course.name 
        </a> 
        @{
            if (Model.grade != null)
            {
                <i class="pull-right">
                    My Grade: @Model.grade.grade
                </i>
            }
        }
    </h1>
</div>
<div class="boxText">
    @{
        if (Model.assignment.endDate > DateTime.Now)
        {
            <h4>
                Time remaining:
                @{
                    var days = (Model.assignment.endDate - DateTime.Now).Days;
                    var hours = (Model.assignment.endDate - DateTime.Now.AddDays(-days)).Hours;
                    var minutes = (Model.assignment.endDate - DateTime.Now.AddDays(-days).AddHours(-hours)).Minutes;
                }
                @days Days, @hours Hours, @minutes Minutes
            </h4>
        }
        if (Model.assignment.description != null && Model.assignment.description.Length > 0)
        {
            <p style="white-space:pre-line">@Model.assignment.description </p>
        }
    }
    
    @if (Model.courseUser.role == 3)
    {
        <div class="clearfix bottom20">
            <div class="pull-right">
                <a class="btn btn-default" href="@Url.Action("add", "problem", new { id = Model.assignment.id })">
                    <i class="fa fa-plus-square"></i> Add problem
                </a>
            </div>
        </div>
    }

    @Html.Partial("_ViewBagAlerts")

    @foreach (var problem in Model.problems)
    {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title" style="display:inline-block">@problem.name</h3>
            <div class="info pull-right" style="display:inline-block">
                <span class="label label-primary" title="Remaining Attempts">2 / @problem.maxAttempts</span>
                <span class="label label-default" title="Percent of Assignment">@problem.percentOfGrade %</span>
            </div>
        </div>
        <div class="panel-body">
            @problem.description
        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="@Url.Action("details", "problem", new { id = problem.id})">
                    <i class="fa fa-code"></i> Solve
                </a>
                @if (Model.courseUser.role == 3)
                {
                    <a class="btn btn-default" href="@Url.Action("edit", "problem", new { id = problem.id})">
                        <i class="fa fa-pencil-square"></i> Edit
                    </a>
                    <a class="btn btn-default" href="@Url.Action("delete", "problem", problem)">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                }
            </div>
        </div>
    </div>
    }
</div>