@model BetterThanMooshak.Models.ViewModel.AssignmentProblems
@{
    ViewBag.Title = "Details";
}

<div class="boxTitle">
    <h1>@Model.assignment.name - <a href="@Url.Action("details", "course", new { id = Model.course.id })"> @Model.course.name </a></h1>
</div>
<div class="boxText">
    @{ if (Model.assignment .description != null && Model.assignment.description.Length > 0)
        {
            <h3>@Model.assignment.description </h3>
        }
    }
    @if (Model.courseUser.role == 3)
    {
        <a class="btn btn-default" href="@Url.Action("add", "problem", new { id = Model.assignment.id })">Add problem</a>
    }

    @foreach (var x in Model.problems)
    {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title" style="display:inline-block">@x.name</h3>
            <div class="info pull-right" style="display:inline-block">
                <span class="label label-primary" title="Remaining Attempts">2 / @x.maxAttempts</span>
                <span class="label label-default" title="Percent of Assignment">@x.percentOfGrade %</span>
            </div>
        </div>
        <div class="panel-body">
            @x.description
        </div>
        <div class="panel-footer clearfix">
            <a class="btn btn-default pull-right" href="@Url.Action("details", "problem", new { id = x.id})">Solve</a>
            @if (Model.courseUser.role == 3)
            {
                <a class="btn btn-default pull-right" href="@Url.Action("edit", "problem", new { id = x.id})">edit</a>
            }
        </div>
    </div>
    }
</div>