@model BetterThanMooshak.Models.ViewModel.AssignmentProblems
@{
    ViewBag.Title = "Details";
}

<h2>@Model.assignment.name - Course name <!--TODO--></h2>
<h3>Description : @Model.assignment.description </h3>

<a href="@Url.Action("add", "problem", new { id = Model.assignment.id })">Add problem to @Model.assignment.name</a>

<div class="jumbotron">
    @foreach(var x in Model.problems)
    {
        <h3><a href="#">@x.name</a> - Score: <i>yourscore</i>/10 <br /> Hand-ins: <i>yourattempts</i>/@x.maxAttempts <!--TODO--></h3>

        <p>Lorem ipsum problem text!</p>
    }
</div>