@model BetterThanMooshak.Models.ViewModel.AssignmentIndexViewModel
@{
    ViewBag.Title = "Assignment Overview";
}

<div class="boxTitle">
    <h1>@ViewBag.Title</h1>
</div>
<div class="boxText">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#active">Open Assignments</a></li>
        <li><a data-toggle="tab" href="#inactive">Closed Assignments</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="active">
            <div>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Due Date</th>
                            <th>Time remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.newAssignments)
                        {
                            <tr class="clickable-row" data-url="@Url.Action("details", "assignment", new { id = x.assignment.id})">
                                <td>
                                    @x.assignment.name
                                </td>
                                <td>
                                    @x.course.name
                                </td>
                                <td>
                                    @x.assignment.endDate.ToShortDateString() @x.assignment.endDate.ToShortTimeString()
                                </td>
                                <td>
                                    @{
                                        int days = (x.assignment.endDate - DateTime.Now).Days;
                                        int hours = (x.assignment.endDate - DateTime.Now.AddDays(-days)).Hours;
                                        int minutes = (x.assignment.endDate - DateTime.Now.AddDays(-days).AddHours(-hours)).Minutes;
                                    }
                                    @days Days, @hours Hours, @minutes Minutes
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="inactive">
            <div>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Course
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Grade
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.oldAssignments)
                        {
                            <tr class="clickable-row" data-url="@Url.Action("details", "assignment", new { id = x.assignment.id })">
                                <td>
                                    @x.assignment.name
                                </td>
                                <td>
                                    @x.course.name
                                </td>
                                <td>
                                    @x.assignment.endDate.ToLongDateString()
                                </td>
                                @{ 
                                    if (x.grade.grade < 0)
                                    {
                                        <td>Not graded</td>
                                    }
                                    else
                                    {
                                        <td>@x.grade.grade</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>