@model BetterThanMooshak.Models.ViewModel.UsersViewModel
@{
    ViewBag.Title = "User Overview";
}
<div class="boxTitle">
    <h1>User Overview</h1>
</div>
<div class="boxText">
    <div class="userActions">
        <a href="@Url.Action("add", "user")">
            <i class="fa fa-plus-square"></i>
            Add User
        </a>
        <a href="@Url.Action("import", "user")">
            <i class="fa fa-download"></i>
            Import Users
        </a>
        <input id="userSearch" type="text" placeholder="Search..." />
        <i class="fa fa-search"></i>
    </div>
    <table id="userTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Active</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>IsActive()</td>
                    <td>
                        <a class="edit" href="@Url.Action("edit", "user")/@user.Id">
                            <i class="fa fa-pencil-square" title="Edit @user.Name"></i>
                        </a>
                        <a class="remove" href="">
                            <i class="fa fa-minus-square" title="Remove @user.Name"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


