@model BetterThanMooshak.Models.ViewModel.UsersViewModel
@{
    ViewBag.Title = "User Overview";
}
<div class="boxTitle">
    <h1>User Overview</h1>
</div>
<div class="boxText">
    @{ if(ViewBag.message != null)
        {
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.message    
            </div>
        }

    }
    <div class="userActions">
        <a href="@Url.Action("add", "user")">
            <i class="fa fa-plus-square"></i>
            Add User
        </a>
        <a href="@Url.Action("import", "user")">
            <i class="fa fa-download"></i>
            Import Users
        </a>
        <a href="@Url.Action("sendemailvalidation", "user")">
            <i class="fa fa-envelope"></i>
            Send Verification
        </a>
        <input id="userSearch" type="text" placeholder="Search..." />
        <i class="fa fa-search"></i>
    </div>
    @Html.AntiForgeryToken()
    <table id="userTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Is Active</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Active</td>
                    <td>
                        <a class="edit" href="@Url.Action("edit", "user", new { id = @user.Id })">
                            <i class="fa fa-pencil-square" title="Edit @user.Name"></i>
                        </a>
                        @{ if (user.Active)
                            {
                                <a class="remove" href="@Url.Action("remove", "user", new { id = user.Id })">
                                    <i class="fa fa-minus-square" title="Remove @user.Name"></i>
                                </a>
                            }
                            else
                            {
                                <a class="activate" href="@Url.Action("activate", "user", new { id = user.Id })">
                                    <i class="fa fa-plug" title="Activate @user.Name"></i>
                                </a>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


