@model BetterThanMooshak.Models.ViewModel.BestSolutionViewModel
<tr>
    <td>@Model.id</td>
    <td>@Model.userName</td>
    <td>@Model.submissionDate</td>
    <td>@Model.totalScore / @Model.maxScore</td>
</tr>