@model BetterThanMooshak.Models.ViewModel.ProblemAddViewModel
@{
    ViewBag.Title = "Add";
}

<div class="boxTItle">
    <h1>Add problem to @Model.courseName (@Model.assignmentName)</h1>
</div>

<div class="boxText">

    @using (Html.BeginForm("add", "problem", new { id = Model.assignmentId}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Name..." })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.maxAttempts)
                @Html.TextBoxFor(m => m.maxAttempts, new { @class = "form-control", placeholder = "Amount of attempts...", type = "number" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.percentOfGrade)
                @Html.TextBoxFor(m => m.percentOfGrade, new { @class = "form-control", placeholder = "Percent of Grade...", type = "number" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(m => m.description, new { @class ="form-control", placeholder = "Description...", rows = 6})
            </div>
        </div>
        <div class="col-md-6">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <div class="col-md-6">
            <input type="button" value="Cancel" class="btn btn-default" onclick="history.back()" />
        </div>
    }
</div>