@model BetterThanMooshak.Models.ViewModel.ProblemDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="boxTitle">
    <h1>@Model.problem.name for <a href="@Url.Action("details","assignment", new { id = Model.assignment.id})">@Model.assignment.name</a></h1>
</div>
<div class="boxText">
    @{
        if (Model.isTeacher)
        {
            <a class="btn btn-default pull-right" href="@Url.Action("addtestcase", "problem", new {id = Model.problem.id})">Add Testcase</a>
        }
    }
    <p>Score: <i>user score</i>/
        @{
            var total = 0;
            foreach (var x in Model.testcases)
            {
                total += 2;
            }
        }
        @total
    </p>
    <p>Handins: <i>user handins</i> / @Model.problem.maxAttempts</p>

    <div class="desc">
        <span style="white-space: pre-line">
            @Model.problem.description
        </span>
    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#solution">Solution</a></li>
        <li><a data-toggle="tab" href="#input">Input / Output</a></li>
        <li><a data-toggle="tab" href="#submission">Submissions</a></li>
        <li><a data-toggle="tab" href="#hints">Hints</a></li>
        <li><a data-toggle="tab" href="#discussion">Discussion</a></li>
        <li><a data-toggle="tab" href="#answer">Answer</a></li>
    </ul>
    <div class="tab-content">
        @*Solutions Tab *@
        <div class="tab-pane fade in active" id="solution">
            @Html.Partial("_SolutionAceEditor")
        </div>

        @*Input / Output Tab*@
        <div class="tab-pane fade" id="input">
            @foreach (var testcase in Model.testcases)
            {
                @Html.Partial("_ProblemInputOutput", testcase)
            }
        </div>

        @*Submissions Tab*@
        <div class="tab-pane fade" id="submission">
            @foreach (var submission in Model.submissions)
            {
                @Html.Partial("_ProblemSubmission", submission)
            }
        </div>

        @*Hints Tab*@
        <div class="tab-pane fade" id="hints">
            @Html.Partial("_ProblemHints")
        </div>

        @*Discussion Tab*@
        <div class="tab-pane fade" id="discussion">
            @Html.Partial("_ProblemDiscussionAddTopicForm", Model.problem.id)

            @foreach (var discussion in Model.discussions.topics)
            {
                @Html.Partial("_ProblemDiscussion", discussion)
            }

        </div>
        @*Answer Tab*@
        <div class="tab-pane fade" id="answer">
            @Model.answer.program
        </div>

    </div>
</div>