@model BetterThanMooshak.Models.ViewModel.FrontViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Hello @Model.user.Name</h1>

<div class="col-md-6" id="Assignments">
    <h2>Open Assignments</h2>
    <div class="jumbotron">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Due Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.assignments)
                {
                    <tr>
                        <td>
                            @x.name
                        </td>
                        <td>
                            Name of course<!--TODO-->
                        </td>
                        <td>
                            @x.endDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="col-md-6" id="Notifications">
    <h2>Notifications</h2>
    <div class="jumbotron">
        <table>
            <tbody>
                @foreach (var x in Model.notifications)
                {
                    <tr>
                        <td>
                            @x.title
                        </td>
                        <td>
                            Name of assignment <!--TODO-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6" id="Courses">
    <a href="@Url.Action("usercourses", "course")">
        <h2>Active Courses</h2>
    </a>
        <div class="jumbotron">
            <table class="table-bordered">
                <tbody>
                    @foreach (var x in Model.courses)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("details", "course", new { id = x.id})">
                                    @x.name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<div class="col-md-6" id="Grades">
    <h2>Recent Grades</h2>
    <div class="jumbotron">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Grade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.recentGrades)
                {
                    <tr>
                        <td>
                            Assignment name <!--TODO-->
                        </td>
                        <td>
                            Course name <!--TODO-->
                        </td>
                        <td>
                            @x.grade
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
