@model BetterThanMooshak.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Hello @Model.userName</h1>

<div class="row">
    <div class="col-md-6" id="Assignments">
        <a href="@Url.Action("index", "assignment")">
            <h2>Open Assignments</h2>
        </a>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.assignments)
                    {
                        <tr class="clickable-row" data-url="@Url.Action("details", "assignment", new { id = x.assignment.id})">
                            <td>
                                    @x.assignment.name
                            </td>
                            <td>
                                    @x.course.name
                            </td>
                            <td>
                                @x.assignment.endDate.ToShortDateString() @x.assignment.endDate.ToShortTimeString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6" id="Notifications">
        <h2>Notifications</h2>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th>Assignment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.notifications)
                    {
                        <tr class="clickable-row" data-url="@Url.Action("details", "assignment", new { id = x.assignment.id})">
                            <td>@x.notification.title</td>
                            <td>
                                    @x.assignment.name
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" id="Courses">
        <a href="@Url.Action("usercourses", "course")">
            <h2>Active Courses</h2>
        </a>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>End date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.courses)
                    {
                        <tr class="clickable-row" data-url="@Url.Action("details", "course", new { id = x.id})">
                            <td>
                                    @x.name
                            </td>
                            <td>
                                    @x.endDate.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6" id="Grades">
        <h2>Recent Grades</h2>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.grades)
                    {
                        <tr class="clickable-row" data-url="@Url.Action("details", "assignment", new { id = x.assignment.id})">
                            <td>
                                    @x.assignment.name
                            </td>
                            <td>
                                    @x.course.name
                            </td>
                            <td>
                                    @x.grade.grade
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>