<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Better Than Mooshak</title>
    <link rel="icon" href="~/Content/Images/icon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
   
</head>
<body>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="menu clearfix">
                <a href="@Url.Action("index", "home")">
                    <img src="@Url.Content("~/Content/Images/logo.png")" />
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="dateTime">
                <p>
                    @DateTime.Now.ToLongDateString()
                </p>
            </div>
            <div class="version">
                <p>
                    Version: @System.Configuration.ConfigurationManager.AppSettings["webpages:Version"]
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
