@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div id="mainmenuToggle">
        <span class="first"></span>
        <span class="middle"></span>
        <span class="last"></span>
    </div>
    <ul class="dropdown">
        <li>@User.Identity.Name</li>
        <li>@User.Identity.Name</li>
        <li>@Html.ActionLink("Course Overview", "index", "course", routeValues: null, htmlAttributes: new { title = "Admin Course Overview" })</li>
        <li>@Html.ActionLink("User Overview", "index", "user", routeValues: null, htmlAttributes: new { title = "Admin User Overview" })</li>
        <li></li>
        <li>@Html.ActionLink("Home", "index", "home", routeValues: null, htmlAttributes: new { title = "Home" })</li>
        <li>@Html.ActionLink("Coures", "usercourses", "course", routeValues: null, htmlAttributes: new { title = "Home" })</li>
        <li>@Html.ActionLink("Assignments", "index", "assignment", routeValues: null, htmlAttributes: new { title = "Home" })</li>
        <li></li>
        <li>@Html.ActionLink("Settings", "index", "manage", routeValues: null, htmlAttributes: new { title = "Settings" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    </ul>
    }
}
