@model BetterThanMooshak.Models.ViewModel.CourseAssignments

@{
    ViewBag.Title = Model.course.name;
}

<h2>@ViewBag.title</h2>

<a href="@Url.Action("add", "assignment", new { id = Model.course.id})">Add assignment to @Model.course.name</a>

<div class="jqtabs">

    <ul>
        <li><a href="#view1">Open Assignments</a></li>
        <li><a href="#view2">Closed Assignments</a></li>
    </ul>

    <div id="view1">
        <div>
            <table class="table-bordered table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Due Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.newAssignments)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("details", "assignment", new { id = x.id})">
                                    @x.name
                                </a>
                            </td>
                            <td>
                                @x.endDate.ToShortDateString() @x.endDate.ToShortTimeString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="view2">
        <div>
            <table class="table-bordered table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Due Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.oldAssignments)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("details", "assignment", new { id = x.id})">
                                    @x.name
                                </a>
                            </td>
                            <td>
                                @x.endDate.ToShortDateString() @x.endDate.ToShortTimeString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



