@model BetterThanMooshak.Models.ViewModel.CourseIndexViewModel

@{
    ViewBag.Title = "Course Overview";
}

<div class="boxTitle">
    <h1>@ViewBag.Title</h1>
</div>
<div class="boxText">
    @Html.Partial("_ViewBagAlerts")
    <div class="courseActions btn-group bottom20">
        <a href="@Url.Action("add", "course")" class="btn btn-default">
            <i class="fa fa-plus-square"></i>
            Add Course
        </a>
        @using (Html.BeginForm("import", "course", FormMethod.Post, new { @class = "form-horizontal hidden", enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(m => m.inputFileBase, new { type = "file" })
        }

        <a  class="btn btn-default" id="chooseFile">
            <i class="fa fa-file"></i>
            Choose File
        </a>
        <a class="btn btn-default" id="importFile">
            <i class="fa fa-download"></i>
            Import File
        </a>
        <div class="form-search left20">
            <input id="userSearch" type="text" placeholder="Search..." class="form-control searchingFilter" />
        </div>
    </div>
    <div class="pull-right">
        @using (Html.BeginForm("import", "course", FormMethod.Post, new { @class = "form-inline hidden", role = "form", enctype = "multipart/form-data", id = "importForm" }))
        {
            @Html.TextBoxFor(m => m.inputFileBase, new { @class = "", type = "file", id = "importField" })
        }
    </div>
    <table id="courseTable" class="table table-responsive table-hover">
        <thead>
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Start Date</h4></td>
                <td><h4>End Date</h4></td>
                <td class="text-center"><h4>Actions</h4></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.courses)
            {
                <tr class="searching">
                    <td>
                        <a href="@Url.Action("details","course", new { id = course.id })">@course.name</a></td>
                    <td>@course.startDate</td>
                    <td>@course.endDate</td>
                    <td class="text-center" >
                        <a class="edit" href="@Url.Action("edit", new { id = course.id })">
                            <i class="fa fa-pencil-square" title="Edit @course.name"></i>
                        </a>

                        <a class="remove" href="@Url.Action("remove", new { id = course.id })">
                            <i class="fa fa-minus-square" title="Remove @course.name" ></i>
                        </a>

                        <a class="remove" href="@Url.Action("enrole", new { id = course.id })">
                            <i class="fa fa-link" title="Enrole students to @course.name"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
