@model IQueryable<BetterThanMooshak.Models.Entities.Course>

@{
    ViewBag.Title = "Course Overview";
}

<div class="boxTitle">
    <h1>@ViewBag.Title</h1>
</div>
<div class="boxText">
    <div class="courseActions">
        <a href="@Url.Action("add", "course")" class="btn btn-default">
            <i class="fa fa-plus-square"></i>
            Add Course
        </a>
        <a href="@Url.Action("edit", "course")" class="btn btn-default">
            <i class="fa fa-download"></i>
            Import Courses
        </a>
        <div class="form-search">
            <input id="userSearch" type="text" placeholder="Search..." class="form-control searchingFilter" />
        </div>
    </div>
    <table id="courseTable" class="table table-responsive table-hover">
        <thead>
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Start Date</h4></td>
                <td><h4>End Date</h4></td>
                <td class="text-center"><h4>Actions</h4></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr class="searching">
                    <td>
                        <a href="@Url.Action("details","course", new { id = course.id })">@course.name</a></td>
                    <td>@course.startDate</td>
                    <td>@course.endDate</td>
                    <td class="text-center" >
                        <a class="edit" href="@Url.Action("edit", new { id = course.id })">
                            <i class="fa fa-pencil-square" title="Edit @course.name"></i>
                        </a>

                        <a class="remove" href="@Url.Action("remove", new { id = course.id })">
                            <i class="fa fa-minus-square" title="Remove @course.name" ></i>
                        </a>

                        <a class="remove" href="@Url.Action("enrole", new { id = course.id })">
                            <i class="fa fa-link" title="Enrole students to @course.name"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
