@model BetterThanMooshak.Models.ViewModel.UserCoursesViewModel
@{
    ViewBag.Title = "Course Overview";
}

<div class="boxTitle">
   <h1>@ViewBag.Title</h1>
</div>

<div class="boxText">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#active">Active Courses</a></li>
        <li><a data-toggle="tab" href="#inactive">Inactive Courses</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="active">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.activeCourses)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("details", "course", new { id = x.course.id})">
                                    @x.course.name
                                </a>
                            </td>
                            <td>@x.course.startDate.ToShortDateString()</td>
                            <td>@x.course.endDate.ToShortDateString()</td>
                            <td>
                                @if (x.courseUser.role == 1)
                                {
                                    <p>Student</p>
                                }
                                else if (x.courseUser.role == 2)
                                {
                                    <p>TA</p>
                                }
                                else if (x.courseUser.role == 3)
                                {
                                    <p>Teacher</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="inactive">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.inactiveCourses)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("details", "course", new { id = x.course.id})">
                                    @x.course.name
                                </a>
                            </td>
                            <td>@x.course.startDate.ToShortDateString()</td>
                            <td>@x.course.endDate.ToShortDateString()</td>
                            <td>
                                @if (x.courseUser.role == 1)
                                {
                                    <p>Student</p>
                                }
                                else if (x.courseUser.role == 2)
                                {
                                    <p>TA</p>
                                }
                                else if (x.courseUser.role == 3)
                                {
                                    <p>Teacher</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
